In [19]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [56]:

df = pd.DataFrame({
    'Fruit': ['Apple', 'Banana', 'Cherry', 'Apple', 'Banana'],
    'Animal': ['Cat', 'Dog', 'Dog', 'Cat', 'Dog'],
    'Country': ['USA', 'France', 'Germany', 'USA', 'France']
})

df

    Fruit Animal  Country
0   Apple    Cat      USA
1  Banana    Dog   France
2  Cherry    Dog  Germany
3   Apple    Cat      USA
4  Banana    Dog   France

LabelEncoder

In [24]:
label_encoders = {}
for column in df.columns:

    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])
    label_encoders[column] = le

df

   Fruit  Animal  Country
0      0       0        2
1      1       1        0
2      2       1        1
3      0       0        2
4      1       1        0

In [ ]:
# Reverse the encoding for LabelEncoder
dict = {}
for column in df.columns:
  dict[column] = {}
  for i, class_name in enumerate(label_encoders[column].classes_):
    dict[column][i] = class_name


dict

{'Fruit': {0: 'Apple', 1: 'Banana', 2: 'Cherry'},
 'Animal': {0: 'Cat', 1: 'Dog'},
 'Country': {0: 'France', 1: 'Germany', 2: 'USA'}}

OneHot Encoder

In [ ]:
ohe = OneHotEncoder()

In [ ]:
ohe = OneHotEncoder(sparse_output=False)
encoded_array = ohe.fit_transform(df[['Animal' , 'Fruit' , 'Country']])
encoded_df = pd.DataFrame(encoded_array, columns=ohe.get_feature_names_out(['Animal' , 'Fruit' , 'Country']))
df_encoded = pd.concat([df, encoded_df], axis=1)

print(df_encoded)

    Fruit Animal  Country  Animal_Cat  Animal_Dog  Fruit_Apple  Fruit_Banana  \
0   Apple    Cat      USA         1.0         0.0          1.0           0.0
1  Banana    Dog   France         0.0         1.0          0.0           1.0
2  Cherry    Dog  Germany         0.0         1.0          0.0           0.0
3   Apple    Cat      USA         1.0         0.0          1.0           0.0
4  Banana    Dog   France         0.0         1.0          0.0           1.0

   Fruit_Cherry  Country_France  Country_Germany  Country_USA
0           0.0             0.0              0.0          1.0
1           0.0             1.0              0.0          0.0
2           1.0             0.0              1.0          0.0
3           0.0             0.0              0.0          1.0
4           0.0             1.0              0.0          0.0

get_dummies in pandas

In [60]:
new_df = pd.get_dummies(df, columns=['Animal' , 'Fruit' , 'Country']).astype(int)
new_df

,Animal_Cat,Animal_Dog,Fruit_Apple,Fruit_Banana,Fruit_Cherry,Country_France,Country_Germany,Country_USA
0,1,0,1,0,0,0,0,1
1,0,1,0,1,0,1,0,0
2,0,1,0,0,1,0,1,0
3,1,0,1,0,0,0,0,1
4,0,1,0,1,0,1,0,0